@page "/ML"
@using System.Diagnostics

<h1>ML playground</h1>

@* Create a form so that the user can type in some sentence and then my ML model can predict the response sentimental analysis. *@
<form>
    <label for="sentence">Enter a sentence:</label>
    <input type="text" id="sentence" name="sentence" value="I love this product" />
    <input type="submit" value="Submit" />
</form>

<div @onclick=TopLevelClicked>
    <h1>Top level</h1>
    <div @onclick=SecondLevelClicked @onclick:stopPropagation>
        <h2>Second level</h2>
        <div @onclick=ThirdLevelClicked>
            <h3>Third level</h3>
        </div>
    </div>

</div>

<div @onclick=TopLevelClicked>
    <h1>Top level</h1>
    <div @onclick=SecondLevelClicked>
        <h2>Second level</h2>
        <div @onclick=ThirdLevelClicked>
            <h3>Third level</h3>
        </div>
    </div>
</div>


@code {
    private void TopLevelClicked()
    {
        Debug.WriteLine("Top level clicked"); 
    }

    private void SecondLevelClicked()
    {
        Debug.WriteLine("Second level clicked"); 
    }

    private void ThirdLevelClicked()
    {
        Debug.WriteLine("Third level clicked"); 
    }

    public void H1Clicked(MouseEventArgs args)
    {
        Debug.WriteLine("H1 clicked"); 
    }
}
