@page "/"

@* <h1>Toggle the options</h1>
<input @bind-value=fOpv type="checkbox" /> Tick/Untick to toggle the option
<br />
<input @bind-value=sOpv type="checkbox" /> Tick/Untick to toggle the option
<br />
 *@


 <div>
     Hello
 </div>

 <Counter />

@* <Route /> *@

 @* <Parent /> *@

 @* <EventComponent /> *@
@* <InitializeComponent /> *@

@* <CascadingValue Name="FOP" Value=@fOpv>
    <CascadingValue Name="SOP" Value=@sOpv>
        <CascadingChildComponent />
    </CascadingValue>
</CascadingValue> *@

@* @code 
{
    private bool fOpv;
    private bool sOpv;
} *@

