@page "/member"
<h1>Member Area</h1>

@page "/member/dashboard"
<h1>Dashboard</h1>

@page "/member/profile"
<h1>Profile</h1>

@* @page "/member" *@
<h1>Member Information</h1>
<p>Id: @Id</p>
<p>Is Valid: @IsValid</p>

@code {
    [Parameter]
    [SupplyParameterFromQuery]
    public string Id { get; set; }

    [Parameter]
    [SupplyParameterFromQuery]
    public bool IsValid { get; set; }
}