@page "/params"
<div class="row" role="img" aria-label=@alt>
    @* <img src=@src @attributes=AllOtherAttributes /> *@
    <MyCustomImage src="https://randomuser.me/api/portraits/lego/6.jpg" alt="A photo of Emmet" width=64 height=64 />
</div>

@code 
{
    [Parameter]
    public string src { get; set; }

    [Parameter]
    public string alt { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> AllOtherAttributes { get; set; }
}
