<h1>
    @currentHeading
</h1>

<p>
    <label>
        New title
        <input @bind="newHeading" />
    </label>
    <label>
        Timer: @currentTime 
    </label>
    <button @onclick="UpdateHeading">
        Update heading
    </button>
</p>

<h1>@buttonString</h1>
@for(int i = 1; i <= 4; i++)
{
    var buttonNumber = i;
    <p>
        <button @onclick="@(e=>UpdateButton(e, buttonNumber))">
            Button #@i
        </button>
    </p>
}

@code
{
    private string buttonString = "No button selected";
    private void UpdateButton(MouseEventArgs e, int buttonNumber)
    {
        buttonString = $"Selected #{buttonNumber} at {e.ClientX}:{e.ClientY}";
    }
}

<p>
    <label>
        <input type="checkbox" @onchange="CheckChanged" />
        @checkedMessage
    </label>
</p>

@code 
{
    private string currentHeading = "Initial heading";
    private string? newHeading;
    private string checkedMessage = "Not changed yet"; 
    private DateTime currentTime = DateTime.Now;

    private async Task UpdateHeading()
    {
        currentTime = DateTime.Now;
        await Task.Delay(2000);
        currentHeading = $"{newHeading}!!!"; 
    }
    // private void UpdateHeading()
    // {
    //     currentHeading = $"{newHeading}!!!"; 
    // }

    private void CheckChanged()
    {
        checkedMessage = $"Last changed at {DateTime.Now}"; 
    }


}