
<h1>Parent Component</h1>

<Child message=@message Instance="StateHasChanged"/>

@* <div>
    message: @message
</div>
 *@
<h2>Parent component</h2>

@code 
{
    private string message = "original message";

    // override the StateHasChanged 

//     protected override void StateHasChanged()
//     {
//         JSRuntime.InvokeVoidAsync("alert", "StateHasChanged phase of the Parent component triggered. ");
//         base.StateHasChanged();
//     }
}
