@using System.Globalization;

<h3>TestComponent</h3>

<label>Name=@Name</label>
<input @bind-value=Name @bind-value:event="oninput" />

<label>Date of birth = @DateOfBirth?.ToString("MMMM d, yyyy")</label>
<input @bind-value=DateOfBirth @bind-value:format="yyyy-MM-dd" />

<label>Bank balance = @BankBalance</label>
<input @bind-value=BankBalance @bind-value:culture=Turkish />


@code {
    private string Name; 
    private DateTime? DateOfBirth; 
    private decimal? BankBalance; 
    
    private CultureInfo Turkish = CultureInfo.GetCultureInfo("tr-TR");

}
