@page "/todo"

<PageTitle>Add ToDo Items</PageTitle>

<h1>ToDo</h1>

<div>
    <ol>
        @foreach (var item in items)
        {
            <li>
                <input type="checkbox" @bind="item.IsDone" />
                <input @bind="item.Name" />
                <span>ISDONE: @item.IsDone</span>
            </li>
        }
    </ol>
</div>

<input placeholder="ToDoItem" @bind="title"/>
<button @onclick="AddItem">Add Item</button>


@code
{
    private string? title;
    private List<ToDoItem> items = new();

    private void AddItem()
    {
        if (!string.IsNullOrWhiteSpace(title))
        {
            items.Add(new ToDoItem { Name = title });
            title=string.Empty;
        }
    }
}