@page "/"


<Counter CurrentCountValue=@currentCount />


<label>Name = @Name</label>
<input @bind-value=Name @bind-value:event="oninput" />

@code 
{
    private int currentCount = 0;

    private string Name; 
    private DateTime? DateOfBirth; 
    private decimal? BankBalance; 
}
@* 
<ul>
    <li>Last multiple of two = @LastMultipleOfTwo</li>
    <li>Last multiple of three = @LastMultipleOfThree</li>
    <li>Current count = @currentCount</li>
</ul>

<Counter OnMultipleOfThree=@UpdateLastMultipleOfThreeValue OnMultipleOfTwoAction=@UpdateLastMultipleOfTwoValue OnTime=@UpdateCurrentCount/>

@code
{
    int LastMultipleOfTwo = 0;
    int LastMultipleOfThree = 0;
    int currentCount = 0;

    private Task UpdateLastMultipleOfThreeValue(int value)
    {
        LastMultipleOfThree = value;
        return Task.CompletedTask;
    }

    private void UpdateLastMultipleOfTwoValue(int value)
    {
        LastMultipleOfTwo = value;
    }

    private void UpdateCurrentCount(int value)
    {
        currentCount = value;
    }
} *@
