@page "/orientation"
@inject IJSRuntime JS
@rendermode InteractiveServer

<h3>3D Gravity Vector Visualizer</h3>
<div id="plotly-container" style="width: 100%; height: 600px;"></div>

<button class="btn btn-primary" @onclick="UpdateOrientation">Update Orientation</button>

@code {
    private async Task UpdateOrientation()
    {
        var gravityVector = new[] { -0.2, 0.3, -0.95 }; // x, y, z
        await JS.InvokeVoidAsync("renderGravityPlot", gravityVector);
    }

    private IJSObjectReference? module;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            module = await JS.InvokeAsync<IJSObjectReference>("import", "./Components/Pages/O.razor.js");
        }
    }
}
