@page "/index"

<h1>Welcome to my Pizza webpage</h1>

<p>@welcomeMessage</p>

@code
{
    private string welcomeMessage = "Choose whatever pizza you like and prefer and don't hesitate to contact if you need more information";
}